doctype html
html
  head
    title= title
    meta(name='referrer', content='never')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/wechat2html.js')
  body
    block content
